.text {
    padding-left: 20px
}

.options {
    grid-area: options;
    display: flex;
    flex-direction: row;
    padding-left: 10px
}

.option {
    padding: 0 10px;
    height: 25vh
}

.option:hover {
    background-color: var(--blend)
}

.option a {
    text-decoration: none;
    color: var(--text)
}

.option img {
    max-height: 25vh
}

.option:hover img {
    filter: contrast(2)
}

.submenu {
    display: none
}

#overlay {
    display: none
}

:root {
    --dark: #0bf;
    --blend: #00cbff;
    --light: #00daff;
    --white: #fff;
    --black: #000
}

body {
    background-color: var(--dark);
    font-family: "Agency FB", sans-serif;
    font-weight: 800;
    font-size: 14px;
    margin: 0
}

.Menu button {
    width: 100%;
    height: 20vh;
    max-height: 20vh;
    background-color: var(--light)
}

.Menu button:hover {
    background-color: var(--blend)
}

.topbar img {
    width: 100vw;
    height: auto;
    max-height: 20vh
}

.submenu {
    grid-area: submenu;
    display: block
}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: grayscale(50%) blur(5px);
    z-index: 2;
    cursor: pointer
}

#menu-text {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: #fff;
    background-image: url("../media/icon.png");
    background-size: 100% 100%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    width: 35vw;
    text-align: center
}

.menu-text {
    margin: 0
}

.menu-button {
    width: 100%;
    height: calc(100% / 5)
}

#burgermenu {
    max-width: 10vw
}

.submenu {
    display: none
}

@media screen and (max-width:600px) {
    .submenu {
        display: block
    }
}

main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -200px
}

.game-quiz-container {
    width: 40rem;
    height: 30rem;
    background-color: var(--light);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 2px
}

.game-details-container {
    width: 80%;
    height: 4rem;
    display: flex;
    justify-content: space-around;
    align-items: center
}

.game-details-container h1 {
    font-size: 1.2rem
}

.game-question-container {
    width: 80%;
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--dark);
    border-radius: 1.5px
}

.game-question-container h1 {
    font-size: 1.1rem;
    text-align: center;
    padding: 3px
}

.game-options-container {
    width: 80%;
    height: 12rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around
}

.game-options-container span {
    width: 45%;
    height: 3rem;
    border: 2px solid var(--dark);
    border-radius: 2px;
    overflow: hidden
}

span label {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform .3s;
    font-weight: 600;
    color: #161616
}

span label:hover {
    -ms-transform: scale(1.12);
    -webkit-transform: scale(1.12);
    transform: scale(1.12);
    color: white
}

input[type="radio"] {
    position: relative;
    display: none
}

input[type=radio]:checked~.option {
    background: var(--dark)
}

.next-button-container {
    width: 50%;
    height: 3rem;
    display: flex;
    justify-content: center
}

.next-button-container button {
    width: 8rem;
    height: 2rem;
    background: 0;
    color: #191919;
    font-weight: 600;
    border: 2px solid gray;
    cursor: pointer;
    outline: 0
}

.next-button-container button:hover {
    background-color: #8f5d5d
}

.modal-container {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.4);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    -webkit-animation: fadeIn 1.2s ease-in-out;
    animation: fadeIn 1.2s ease-in-out
}

.modal-content-container {
    height: 20rem;
    width: 25rem;
    background-color: #2b2a2a;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 2.5px
}

.modal-content-container h1 {
    font-size: 1.3rem;
    height: 3rem;
    color: lightgray;
    text-align: center
}

.grade-details {
    width: 15rem;
    height: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around
}

.grade-details p {
    color: #fff;
    text-align: center
}

.modal-button-container {
    height: 2rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center
}

.modal-button-container button {
    width: 10rem;
    height: 2rem;
    background: 0;
    outline: 0;
    border: 1px solid #fcf2f1;
    color: #fff;
    font-size: 1.1rem;
    cursor: pointer
}

.modal-button-container button:hover {
    background-color: #535252
}

@media(min-width :300px) and (max-width :350px) {
    .game-quiz-container {
        width: 90%;
        height: 80vh
    }

    .game-details-container h1 {
        font-size: .8rem
    }

    .game-question-container {
        height: 6rem
    }

    .game-question-container h1 {
        font-size: .9rem
    }

    .game-options-container span {
        width: 90%;
        height: 2.5rem
    }

    .game-options-container span label {
        font-size: .8rem
    }

    .modal-content-container {
        width: 90%;
        height: 25rem
    }

    .modal-content-container h1 {
        font-size: 1.2rem
    }
}

@media(min-width :350px) and (max-width :700px) {
    body {
        font-size: larger
    }

    .game-quiz-container {
        width: 90%;
        height: 80vh
    }

    .game-details-container h1 {
        font-size: 1rem
    }

    .game-question-container {
        height: 8rem
    }

    .game-question-container h1 {
        font-size: .9rem
    }

    .game-options-container span {
        width: 90%
    }

    .modal-content-container {
        width: 90%;
        height: 25rem
    }

    .modal-content-container h1 {
        font-size: 1.2rem
    }
}

@keyframes fadeIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.banner {
    grid-area: banner;

    .logo {
        max-width: 99.9vw;
        height: auto
    }
}

.burgermenu {
    display: none
}

img {
    max-width: 100vw
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 30vh 1fr 1fr 1fr;
    gap: 0;
    grid-auto-flow: row;
    grid-template-areas: "topbar topbar topbar topbar topbar topbar" "timeline timeline timeline timeline timeline menu" "timeline timeline timeline timeline timeline ." "timeline timeline timeline timeline timeline . "
}

.topbar {
    grid-area: topbar;
    max-height: 20vh
}

.Menu {
    grid-area: menu
}

.timeline {
    grid-area: timeline
}

#quiz {
    width: 90%;
    height: 100vh;
    border: 0
}

@media screen and (max-width:600px) {
    .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: min-content min-content auto auto;
        gap: 0;
        grid-auto-flow: row;
        grid-template-areas: "topbar" "submenu" "timeline" "timeline"
    }

    .topbar {
        grid-area: topbar;
        max-height: 20vh
    }

    .submenu {
        grid-area: submenu
    }

    .timeline {
        grid-area: timeline
    }

    .Menu {
        display: none
    }
}