:root {
    --dark: #00BBFF;
    --blend: #00CBFF;
    --light: #00DAFF;
    --white: #FFFFFF;
    --black: #000000;
}

body {
    background-color: var(--dark);
    font-family: "Agency FB", sans-serif;
    font-weight: 800;
    font-size: 14px;
    margin: 0px;
}
#banner{
    max-width: 100vw;
}