.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 30vh 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "topbar topbar topbar topbar topbar topbar"
        "timeline timeline timeline timeline timeline menu"
        "timeline timeline timeline timeline timeline ."
        "timeline timeline timeline timeline timeline .     ";
}

.topbar {
    grid-area: topbar;
    max-height: 20vh    ;
}

.Menu {
    grid-area: menu;
}

.timeline {
    grid-area: timeline;
}

@media screen and (max-width: 600px) {
    .container {
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows: min-content min-content auto auto;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            "topbar"
            "submenu"
            "timeline"
            "timeline"
    }
    
    .topbar {
        grid-area: topbar;
        max-height: 20vh    ;
    }
    
    .submenu {
        grid-area: submenu;
    }
    
    .timeline {
        grid-area: timeline;
    }
    .Menu{
        display: none;
    }
}
