/* small screen */
@media (max-width:37.4em) {

    .container {
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        grid-template-rows: auto auto auto auto auto;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            "header header header header header"
            "main main main main main"
            "main main main main main"
            "main main main main main"
            "footer footer footer footer footer";
    }

    .header {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto auto;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            "banner banner banner"
            "banner banner banner"
            "title title title";
        grid-area: header;
    }

    .banner {
        grid-area: banner;

        .logo {
            max-width: 99.9vw;
            height: auto;
        }
    }

    .title {
        grid-area: title;
        padding-left: 1vw;
    }

    .footer {
        grid-area: footer;
    }

    .intro {
        grid-area: intro;
        padding-top: 1vh;
        padding-left: 1vw;
        padding-right: 1vw;
    }


    .main {
        display: grid;
        grid-template-columns: 33vw 29vw 33vw;
        grid-template-rows: auto auto auto;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            "intro intro menu"
            "timeline timeline timeline"
            ". . .";
        grid-area: main;
    }



    .menu {
        display: none;
        grid-area: menu;

    }


    .burgermenu {
        display: block;
    }

}



/* big screen */
@media (min-width:37.5em) {

    .container {
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        grid-template-rows: auto auto auto auto auto;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            "header header header header header"
            "main main main main main"
            "main main main main main"
            "main main main main main"
            "footer footer footer footer footer";
    }

    .header {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto auto;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            "banner banner banner"
            "banner banner banner"
            "title title title";
        grid-area: header;
    }

    .banner {
        grid-area: banner;

        .logo {
            max-width: 99.9vw;
            height: auto;
        }
    }

    .title {
        grid-area: title;
        padding-left: 1vw;
    }

    .footer {
        grid-area: footer;
    }

    .intro {
        grid-area: intro;
        padding-top: 1vh;
        padding-left: 1vw;
        padding-right: 1vw;
    }


    .main {
        display: grid;
        grid-template-columns: 26vw 25vw 25vw 20vw;
        grid-template-rows: auto auto auto;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            "intro intro intro menu"
            "timeline timeline timeline menu"
            ". . . menu";
        grid-area: main;
        margin-left: 40px;
    }



    .menu {
        display: grid;
        grid-area: menu;

    }


    .burgermenu {
        display: none;
    }

    body {
        line-height: 1.3em;
        min-width: 920px;
    }


}

* {
    box-sizing: border-box;
}



.timeline {
    grid-area: timeline;
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

.time-container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

.time-container:nth-child(odd) {
    left: 0;
}

.time-container:nth-child(even) {
    left: 50%;
}

.time-container:nth-child(odd)::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: white;
    border: 4px solid #FF9F55;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
    left:96%;
}

.time-container:nth-child(odd)::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
    left: 90%;
}

.time-container:nth-child(even)::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: white;
    border: 4px solid #FF9F55;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
    left:-4%;
}

.time-container:nth-child(even)::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    border: medium solid white;
    border-width: 10px 10px 10px 0px;
    border-color: transparent white transparent transparent;
    left: 7%;
}
.content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
}
.content .image {
    width: auto;
    max-width: 100px;
}

@media screen and (max-width: 37.4em) {
    .timeline::after {
        left: auto;
        right: 31px;
    }

    .time-container {
        width: 100%;
        padding-left: 25px;
        padding-right: 70px;
    }

    .time-container::before {
        left: auto;
        right: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }

    .time-container::after {
        left: auto;
        right: 15px;
    }
    
    .time-container:nth-child(odd),
    .time-container:nth-child(even) {
        left: 0;
    }

    .time-container:nth-child(even)::after,
    .time-container:nth-child(odd)::after
     {
        content: '';
        position: absolute;
        width: 25px;
        height: 25px;
        background-color: white;
        border: 4px solid #FF9F55;
        top: 15px;
        border-radius: 50%;
        z-index: 1;
        left:90%;
    }
    
    .time-container:nth-child(even)::before,
    .time-container:nth-child(odd)::before {
        content: " ";
        height: 0;
        position: absolute;
        top: 22px;
        width: 0;
        z-index: 1;
        border: medium solid white;
        border-width: 10px 0 10px 10px;
        border-color: transparent transparent transparent white;
        left: 87%;
}

}
