/* small screen */
@media (max-width:37.4em) {

    .container {
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        grid-template-rows: auto auto auto auto auto;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            "header header header header header"
            "main main main main main"
            "main main main main main"
            "main main main main main"
            "footer footer footer footer footer";
    }

    .header {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto auto;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            "banner banner banner"
            "banner banner banner"
            "title title title";
        grid-area: header;
    }

    .banner {
        grid-area: banner;

        .logo {
            max-width: 99.9vw;
            height: auto;
        }
    }

    .title {
        grid-area: title;
        padding-left: 1vw;
    }

    .footer {
        grid-area: footer;
    }

    .intro {
        grid-area: intro;
        padding-top: 1vh;
        padding-left: 1vw;
        padding-right: 1vw;
    }


    .main {
        display: grid;
        grid-template-columns: 33vw 29vw 33vw;
        grid-template-rows: auto auto auto;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            "intro intro menu"
            "timeline timeline timeline"
            ". . .";
        grid-area: main;
    }



    .menu {
        display: none;
        grid-area: menu;

    }


    .burgermenu {
        display: block;
    }

    .history-tl-container {
        grid-area: timeline;
        width: 100%;
        margin: auto;
        display: block;
        position: relative;
    }

    .history-tl-container ul.tl {
        margin: 20px 0;
        padding: 0;
        display: inline-block;

    }
    .history-tl-container ul.tl .item{
        background-color: var(--light);
    }

    .history-tl-container ul.tl li {
        list-style: none;
        margin: auto;
        margin-left: 200px;
        min-height: 50px;
        border-left: 1px dashed #86D6FF;
        padding: 0 0 50px 30px;
        position: relative;
    }

    .history-tl-container ul.tl li:last-child {
        border-left: 0;
    }

    .history-tl-container ul.tl li::before {
        position: absolute;
        left: -18px;
        top: -5px;
        content: " ";
        border: 8px solid rgba(255, 255, 255, 0.74);
        border-radius: 500%;
        background: #258CC7;
        height: 20px;
        width: 20px;
        transition: all 500ms ease-in-out;

    }

    .history-tl-container ul.tl li:hover::before {
        border-color: #258CC7;
        transition: all 1000ms ease-in-out;
    }


    ul.tl li .item-detail {
        color: rgba(0, 0, 0, 0.5);
        font-size: 12px;
    }

    ul.tl li .timestamp {
        color: #8D8D8D;
        position: absolute;
        width: 100px;
        left: -50%;
        text-align: right;
        font-size: 12px;
    }
    div.history-tl-container ul.tl li .item .image{
        border-radius: 0;
        height: 5em;
        border: 0.35em solid var(--light);
        max-width: 10em;
        min-width: 10em;
        max-height: 10em;
        min-height: 10em;
    }
}



/* big screen */
@media (min-width:37.5em) {

    .container {
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        grid-template-rows: auto auto auto auto auto;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            "header header header header header"
            "main main main main main"
            "main main main main main"
            "main main main main main"
            "footer footer footer footer footer";
    }

    .header {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto auto;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            "banner banner banner"
            "banner banner banner"
            "title title title";
        grid-area: header;
    }

    .banner {
        grid-area: banner;

        .logo {
            max-width: 99.9vw;
            height: auto;
        }
    }

    .title {
        grid-area: title;
        padding-left: 1vw;
    }

    .footer {
        grid-area: footer;
    }

    .intro {
        grid-area: intro;
        padding-top: 1vh;
        padding-left: 1vw;
        padding-right: 1vw;
    }


    .main {
        display: grid;
        grid-template-columns: 26vw 25vw 25vw 20vw;
        grid-template-rows: auto auto auto;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            "intro intro intro menu"
            "timeline timeline timeline menu"
            ". . . menu";
        grid-area: main;
        margin-left: 40px;
    }



    .menu {
        display: grid;
        grid-area: menu;

    }


    .burgermenu {
        display: none;
    }

    body {
        line-height: 1.3em;
        min-width: 920px;
    }

    .history-tl-container {
        grid-area: timeline;
        width: 100%;
        margin: auto;
        display: block;
        position: relative;
    }

    .history-tl-container ul.tl {
        margin: 20px 0;
        padding: 0;
        display: inline-block;

    }
    .history-tl-container ul.tl .item{
        background-color: var(--light);
    }

    .history-tl-container ul.tl li {
        list-style: none;
        margin: auto;
        margin-left: 200px;
        min-height: 50px;
        border-left: 1px dashed #86D6FF;
        padding: 0 0 50px 30px;
        position: relative;
    }

    .history-tl-container ul.tl li:last-child {
        border-left: 0;
    }

    .history-tl-container ul.tl li::before {
        position: absolute;
        left: -18px;
        top: -5px;
        content: " ";
        border: 8px solid rgba(255, 255, 255, 0.74);
        border-radius: 500%;
        background: #258CC7;
        height: 20px;
        width: 20px;
        transition: all 500ms ease-in-out;

    }

    .history-tl-container ul.tl li:hover::before {
        border-color: #258CC7;
        transition: all 1000ms ease-in-out;
    }


    ul.tl li .item-detail {
        color: rgba(0, 0, 0, 0.5);
        font-size: 12px;
    }

    ul.tl li .timestamp {
        color: #8D8D8D;
        position: absolute;
        width: 100px;
        left: -50%;
        text-align: right;
        font-size: 12px;
    }
    div.history-tl-container ul.tl li .item .image{
        border-radius: 0;
        height: 5em;
        border: 0.35em solid var(--light);
        max-width: 10em;
        min-width: 10em;
        max-height: 10em;
        min-height: 10em;
    }
    .history-tl-container ul.tl li .item:nth-child(odd){
        background-color: rebeccapurple;

    }
}