:root{
  --dark: #00BBFF;
  --light: #00DAFF;
  --white: #FFFFFF;
  --black: #000000;
  --black-half: rgba(0,0,0,0.8)
}


body {
  background-color: var(--dark);
  font-family: "Agency FB", sans-serif;
  font-weight: 800;
  font-size: 14px;
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--black-half); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
  }

#menu-text{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    background-color: var(--black-half);
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    height: 30vh;
    width: 30vw;
  }

.menu-button{
    min-width: 30vw;
}
